.transaction-info{
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
}

.transaction-info > *{
    margin: 0rem;
}


.transaction-card.income{
    border: .15rem solid var(--income-color);
}

.transaction-card.expense{
    border: .15rem solid var(--expense-color);
    /* background-color: var(--light-red); */
}

.transaction-card{
    padding: .75rem 1.5rem .75rem 1.5rem;
}

.tranaction-container{
    display: grid;
    grid-template-columns: min(100%, 500px);
    gap: .25rem;
}
.add-transaction-container > form > label{
    display: inline-block;
    width: 6rem;
}

fieldset{
    width: 15rem;
}

.transaction-buttons{
    display: flex;
    gap: 1rem;
}

.submit-button{
    background-color: var(--income-color);
    color: var(--white);
    border-color: var(--income-color);

    &:hover{
        color: var(--income-color);
        background-color: (--white);
    }

}

.cancel-button{
    background-color: var(--expense-color);
    color: var(--white);
    border-color: var(--expense-color);

    &:hover{
        color: var(--expense-color);
        background-color: var(--white);
    }
}