:root{
  --bg-color: #F3F5F7;
  --card-color: #FFF;
  --header-color: #4f46e5;
  --text-color: #1f2937;
  --accent-color: #6366f1;
  --white: #FFF;
  --income-color: #024d02;
  --expense-color: #B30000;
  --lt-income-color: #D7FED7;
  --lt-expense-color: #FFD6D6;
  --dark-blue: #1417E1;

  --fw-s: 500;
  --fw-m: 600;
  --fw-l: 800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p{
  margin: 0;
}

.componentGroup{
  display: flex; 
  gap: .1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.App{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.submit-button{
    background-color: var(--income-color);
    color: var(--white);
    border-color: var(--income-color);

    &:hover{
        color: var(--income-color);
        background-color: var(--white);
    }

}

.cancel-button{
    background-color: var(--expense-color);
    color: var(--white);
    border-color: var(--expense-color);

    &:hover{
        color: var(--expense-color);
        background-color: var(--white);
    }
}

.buttonContainer{
    display: flex;
    gap: 1rem;
}

.mainLayout{
  display: flex;
  flex: 1;
}

main{
    flex: 1;
}


aside {
  width: fit-content;
  background: var(--header-color);
  color: var(--white);
  height: 100%;
}

input, .textInput{
    outline: none;
}
input:focus, input:active, .textInput:focus, .textInpute:active{
    border: .2rem solid var(--accent-color) ;
    border-radius: .2rem;
}

label{
    display: inline-block;
    font-weight: var(--fw-m);
}

fieldset{
    width: min(100vw, 12rem);
}

.textInput, .amountInput {
    width: min(20rem, 100vw);
    box-sizing: border-box;
}
.amountInput input{
    width: calc(100% - 1.1rem);
    &:focus, &:active{
        width: calc(100% - 1.2rem);
    }

}

.itemInfo{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.important{
    font-size: 1.2rem;
    font-weight: var(--fw-m);
}
.semiImportant{
  font-weight: var(--fw-s);
}

.itemInfo > *{
    margin: 0rem;
}

.itemCard.income{
    border-left: .15rem solid var(--income-color);

}
.itemCard.expense{
    border-left: .15rem solid var(--expense-color);
}

.itemCard{
    width: min(500px, 100vw);
    box-sizing: border-box;
    padding: .75rem;
    transition: border-radius 0.3s ease;
    /* border-radius: .3rem; */
    background-color: var(--card-color);
    transition: box-shadow 0.3s ease,
        transform 0.3s ease;
    &>*{
        margin: 0;
    }
    &:hover{
        /* border-radius: 1rem; */
        box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.2);
        /* z-index: 1; */
        transform: translateY(-10px);
    }
}

.button{
    background-color: var(--card-color);
    color: var(--accent-color);
    border: 0;
    &:hover{
        color: var(--dark-blue);
    }

}

.Btn{
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &::after{
        font-size: 1.2rem;
        display: inline-block;
    }
}
.editBtn::after{
    content: "\270F"; 
}

.deleteBtn::after{
    content:"\1F5D1";
}