
.subsection{
    display: block;
    list-style-type: none;
    background-color: var(--accent-color);
    padding: .2rem 1.5rem .2rem 1.5rem;
    &:hover{
        background-color: var(--dark-blue);;
    }
}


.link{
    color: var(--white);
    text-decoration: none;
}


/* Link {
    display: block;
    background-color: var(--accent-color);
    color: var(--white);
} */

/* nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */