:root{
  --bg-color: #f9fafb;
  --header-color: #4f46e5;
  --text-color: #1f2937;
  --accent-color: #6366f1;
  --white: #FFF;
  --income-color: rgb(2, 77, 2);
  --expense-color: #B30000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}