:root{
  --bg-color: #f9fafb;
  --card-color: #F3F5F7;
  --header-color: #4f46e5;
  --text-color: #1f2937;
  --accent-color: #6366f1;
  --white: #FFF;
  --income-color: #024d02;
  --expense-color: #B30000;
  --lt-income-color: #D7FED7;
  --lt-expense-color: #FFD6D6;
  --dark-blue: #1417E1;

  --fw-s: 400;
  --fw-m: 600;
  --fw-l: 800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.componentGroup{
  display: flex; 
  gap: .1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
